body {
    padding: 0px;
    margin: 0px;
    text-align:center;
    background-color: rgb(254, 208, 193);
}

h1 {margin: 0px;
background-color: rgb(161, 113, 238);
text-align:center;}

p{margin: 0px}